@import "tailwindcss";

body {
    @apply bg-gray-100;
}

@theme {
    --font-heading: "Playfair Display", "serif";
    --font-body: "Nunito", "sans-serif";

    --color-midnight: #121063;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
    --color-brown-500: #964b00;
    --color-brown-700: #663300;
}

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }

    p {
        font-family: var(--font-body);
    }
}